ul li {
  border: 1px solid #000;
}

.list-unstyled li{
  padding: 20px;
}

.list-unstyled li.open{
  color: #fff;
    background-color: #dc3545;
}
.list-unstyled li.closed {
  color: #fff;
  background-color: #28a745;
}

.hide {
  display: none;
}

div.container {
  padding: 2rem 0;
}

div.button-wrapper {
  padding: 1rem 0 3rem;
}

div.button-wrapper button {
  margin: 0 1rem;
}

