a {
  color: #000;
  text-decoration: none;
}


.card {
  margin: 1rem 0;
  height: 260px;
  background-color: rgba(52,58,64, 1);
  color: #fff;
  transition: all 0.2s;
}


.card:hover {
  background-color: rgba(52,58,64, 0.8);
  color: #fff;
  transition: all 0.2s;
}

.card-title {
  height: 45px;
}


.card-text {
  font-size: 14px;
  height: 90px;
  overflow: hidden;
  margin: 0;
}

p.card-footer {
  padding: .50rem 1.25rem;
  background-color: #fff;
  color: #343a40;
  margin: 1rem 0;
}

.card :hover p.card-footer{
  padding: .50rem 1.25rem;
  background-color: rgba(52,58,64, 0.8) !important;
  color: #fff !important;
  margin: 1rem 0;
}

